/* Grid */
.adaptiveimage-adaptiveimage-row-disabled { font-style: italic; opacity: .6; color: #555; }
.x-grid3-col-actions { padding: 3px 0 3px 5px; }

/* Actions */
.action-red { color: darkred !important; }
.action-green { color: darkgreen !important; }
.action-blue { color: cadetblue !important; }
.action-yellow { color: goldenrod !important; }
.action-gray { color: dimgray !important; }
ul.adaptiveimage-row-actions { margin: 0; padding: 0; list-style: none; }
ul.adaptiveimage-row-actions li { float: left; }
ul.adaptiveimage-row-actions .adaptiveimage-btn { padding: 5px; margin-right: 2px; min-width: 26px; font-size: inherit; }

/* Action menu */
a.x-menu-item .x-menu-item-text, a.x-menu-item .x-menu-item-text .icon { cursor: pointer; }
a.x-menu-item .x-menu-item-text .icon { line-height: 16px; top: auto; }
.x-menu-list .icon { min-width: 1em; text-align: center; }
.x-menu-list-item:hover .icon { color: inherit !important; }
ul.adaptiveimage-row-actions .actions-menu { width: 40px; }
ul.adaptiveimage-row-actions .actions-menu:after { content: " \f107"; }

/* Search field */
.x-field-search-clear,
.x-field-search-go { border-left: 1px solid #e4e4e4 !important; }
.x-field-search-clear:hover,
.x-field-search-go:hover { border-left-color: transparent !important; }
.x-field-search-clear:before { content: '\f00d' !important; }
.x-field-search-go { right: 31px !important; border-radius: 0 !important; }
.x-field-search-go:before { content: '\f002' !important; }

/* Buttons */
.adaptiveimage-btn { display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
.adaptiveimage-btn:focus, .adaptiveimage-btn:active:focus, .adaptiveimage-btn.active:focus, .adaptiveimage-btn.focus, .adaptiveimage-btn:active.focus, .adaptiveimage-btn.active.focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px }
.adaptiveimage-btn:hover, .adaptiveimage-btn:focus, .adaptiveimage-btn.focus { color: #333; text-decoration: none }
.adaptiveimage-btn:active, .adaptiveimage-btn.active { outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) }
.adaptiveimage-btn.disabled, .adaptiveimage-btn[disabled], fieldset[disabled] .adaptiveimage-btn { cursor: not-allowed; opacity: .65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none }
a.adaptiveimage-btn.disabled, fieldset[disabled] a.adaptiveimage-btn { pointer-events: none }
.adaptiveimage-btn-default { color: #333; background-color: #fff; border-color: #ccc }
.adaptiveimage-btn-default:focus, .adaptiveimage-btn-default.focus { color: #333; background-color: #e6e6e6; border-color: #8c8c8c }
.adaptiveimage-btn-default:hover { color: #333; background-color: #e6e6e6; border-color: #adadad }
.adaptiveimage-btn-default:active, .adaptiveimage-btn-default.active, .open > .dropdown-toggle.adaptiveimage-btn-default { color: #333; background-color: #e6e6e6; border-color: #adadad }
.adaptiveimage-btn-default:active:hover, .adaptiveimage-btn-default.active:hover, .open > .dropdown-toggle.adaptiveimage-btn-default:hover, .adaptiveimage-btn-default:active:focus, .adaptiveimage-btn-default.active:focus, .open > .dropdown-toggle.adaptiveimage-btn-default:focus, .adaptiveimage-btn-default:active.focus, .adaptiveimage-btn-default.active.focus, .open > .dropdown-toggle.adaptiveimage-btn-default.focus { color: #333; background-color: #d4d4d4; border-color: #8c8c8c }
.adaptiveimage-btn-default:active, .adaptiveimage-btn-default.active, .open > .dropdown-toggle.adaptiveimage-btn-default { background-image: none }
.adaptiveimage-btn-default.disabled:hover, .adaptiveimage-btn-default[disabled]:hover, fieldset[disabled] .adaptiveimage-btn-default:hover, .adaptiveimage-btn-default.disabled:focus, .adaptiveimage-btn-default[disabled]:focus, fieldset[disabled] .adaptiveimage-btn-default:focus, .adaptiveimage-btn-default.disabled.focus, .adaptiveimage-btn-default[disabled].focus, fieldset[disabled] .adaptiveimage-btn-default.focus { background-color: #fff; border-color: #ccc }
.adaptiveimage-btn-default .badge { color: #fff; background-color: #333 }
.adaptiveimage-btn-primary { color: #fff; background-color: #337ab7; border-color: #2e6da4 }
.adaptiveimage-btn-primary:focus, .adaptiveimage-btn-primary.focus { color: #fff; background-color: #286090; border-color: #122b40 }
.adaptiveimage-btn-primary:hover { color: #fff; background-color: #286090; border-color: #204d74 }
.adaptiveimage-btn-primary:active, .adaptiveimage-btn-primary.active, .open > .dropdown-toggle.adaptiveimage-btn-primary { color: #fff; background-color: #286090; border-color: #204d74 }
.adaptiveimage-btn-primary:active:hover, .adaptiveimage-btn-primary.active:hover, .open > .dropdown-toggle.adaptiveimage-btn-primary:hover, .adaptiveimage-btn-primary:active:focus, .adaptiveimage-btn-primary.active:focus, .open > .dropdown-toggle.adaptiveimage-btn-primary:focus, .adaptiveimage-btn-primary:active.focus, .adaptiveimage-btn-primary.active.focus, .open > .dropdown-toggle.adaptiveimage-btn-primary.focus { color: #fff; background-color: #204d74; border-color: #122b40 }
.adaptiveimage-btn-primary:active, .adaptiveimage-btn-primary.active, .open > .dropdown-toggle.adaptiveimage-btn-primary { background-image: none }
.adaptiveimage-btn-primary.disabled:hover, .adaptiveimage-btn-primary[disabled]:hover, fieldset[disabled] .adaptiveimage-btn-primary:hover, .adaptiveimage-btn-primary.disabled:focus, .adaptiveimage-btn-primary[disabled]:focus, fieldset[disabled] .adaptiveimage-btn-primary:focus, .adaptiveimage-btn-primary.disabled.focus, .adaptiveimage-btn-primary[disabled].focus, fieldset[disabled] .adaptiveimage-btn-primary.focus { background-color: #337ab7; border-color: #2e6da4 }
.adaptiveimage-btn-primary .badge { color: #337ab7; background-color: #fff }
.adaptiveimage-btn-success { color: #fff; background-color: #5cb85c; border-color: #4cae4c }
.adaptiveimage-btn-success:focus, .adaptiveimage-btn-success.focus { color: #fff; background-color: #449d44; border-color: #255625 }
.adaptiveimage-btn-success:hover { color: #fff; background-color: #449d44; border-color: #398439 }
.adaptiveimage-btn-success:active, .adaptiveimage-btn-success.active, .open > .dropdown-toggle.adaptiveimage-btn-success { color: #fff; background-color: #449d44; border-color: #398439 }
.adaptiveimage-btn-success:active:hover, .adaptiveimage-btn-success.active:hover, .open > .dropdown-toggle.adaptiveimage-btn-success:hover, .adaptiveimage-btn-success:active:focus, .adaptiveimage-btn-success.active:focus, .open > .dropdown-toggle.adaptiveimage-btn-success:focus, .adaptiveimage-btn-success:active.focus, .adaptiveimage-btn-success.active.focus, .open > .dropdown-toggle.adaptiveimage-btn-success.focus { color: #fff; background-color: #398439; border-color: #255625 }
.adaptiveimage-btn-success:active, .adaptiveimage-btn-success.active, .open > .dropdown-toggle.adaptiveimage-btn-success { background-image: none }
.adaptiveimage-btn-success.disabled:hover, .adaptiveimage-btn-success[disabled]:hover, fieldset[disabled] .adaptiveimage-btn-success:hover, .adaptiveimage-btn-success.disabled:focus, .adaptiveimage-btn-success[disabled]:focus, fieldset[disabled] .adaptiveimage-btn-success:focus, .adaptiveimage-btn-success.disabled.focus, .adaptiveimage-btn-success[disabled].focus, fieldset[disabled] .adaptiveimage-btn-success.focus { background-color: #5cb85c; border-color: #4cae4c }
.adaptiveimage-btn-success .badge { color: #5cb85c; background-color: #fff }
.adaptiveimage-btn-info { color: #fff; background-color: #5bc0de; border-color: #46b8da }
.adaptiveimage-btn-info:focus, .adaptiveimage-btn-info.focus { color: #fff; background-color: #31b0d5; border-color: #1b6d85 }
.adaptiveimage-btn-info:hover { color: #fff; background-color: #31b0d5; border-color: #269abc }
.adaptiveimage-btn-info:active, .adaptiveimage-btn-info.active, .open > .dropdown-toggle.adaptiveimage-btn-info { color: #fff; background-color: #31b0d5; border-color: #269abc }
.adaptiveimage-btn-info:active:hover, .adaptiveimage-btn-info.active:hover, .open > .dropdown-toggle.adaptiveimage-btn-info:hover, .adaptiveimage-btn-info:active:focus, .adaptiveimage-btn-info.active:focus, .open > .dropdown-toggle.adaptiveimage-btn-info:focus, .adaptiveimage-btn-info:active.focus, .adaptiveimage-btn-info.active.focus, .open > .dropdown-toggle.adaptiveimage-btn-info.focus { color: #fff; background-color: #269abc; border-color: #1b6d85 }
.adaptiveimage-btn-info:active, .adaptiveimage-btn-info.active, .open > .dropdown-toggle.adaptiveimage-btn-info { background-image: none }
.adaptiveimage-btn-info.disabled:hover, .adaptiveimage-btn-info[disabled]:hover, fieldset[disabled] .adaptiveimage-btn-info:hover, .adaptiveimage-btn-info.disabled:focus, .adaptiveimage-btn-info[disabled]:focus, fieldset[disabled] .adaptiveimage-btn-info:focus, .adaptiveimage-btn-info.disabled.focus, .adaptiveimage-btn-info[disabled].focus, fieldset[disabled] .adaptiveimage-btn-info.focus { background-color: #5bc0de; border-color: #46b8da }
.adaptiveimage-btn-info .badge { color: #5bc0de; background-color: #fff }
.adaptiveimage-btn-warning { color: #fff; background-color: #f0ad4e; border-color: #eea236 }
.adaptiveimage-btn-warning:focus, .adaptiveimage-btn-warning.focus { color: #fff; background-color: #ec971f; border-color: #985f0d }
.adaptiveimage-btn-warning:hover { color: #fff; background-color: #ec971f; border-color: #d58512 }
.adaptiveimage-btn-warning:active, .adaptiveimage-btn-warning.active, .open > .dropdown-toggle.adaptiveimage-btn-warning { color: #fff; background-color: #ec971f; border-color: #d58512 }
.adaptiveimage-btn-warning:active:hover, .adaptiveimage-btn-warning.active:hover, .open > .dropdown-toggle.adaptiveimage-btn-warning:hover, .adaptiveimage-btn-warning:active:focus, .adaptiveimage-btn-warning.active:focus, .open > .dropdown-toggle.adaptiveimage-btn-warning:focus, .adaptiveimage-btn-warning:active.focus, .adaptiveimage-btn-warning.active.focus, .open > .dropdown-toggle.adaptiveimage-btn-warning.focus { color: #fff; background-color: #d58512; border-color: #985f0d }
.adaptiveimage-btn-warning:active, .adaptiveimage-btn-warning.active, .open > .dropdown-toggle.adaptiveimage-btn-warning { background-image: none }
.adaptiveimage-btn-warning.disabled:hover, .adaptiveimage-btn-warning[disabled]:hover, fieldset[disabled] .adaptiveimage-btn-warning:hover, .adaptiveimage-btn-warning.disabled:focus, .adaptiveimage-btn-warning[disabled]:focus, fieldset[disabled] .adaptiveimage-btn-warning:focus, .adaptiveimage-btn-warning.disabled.focus, .adaptiveimage-btn-warning[disabled].focus, fieldset[disabled] .adaptiveimage-btn-warning.focus { background-color: #f0ad4e; border-color: #eea236 }
.adaptiveimage-btn-warning .badge { color: #f0ad4e; background-color: #fff }
.adaptiveimage-btn-danger { color: #fff; background-color: #d9534f; border-color: #d43f3a }
.adaptiveimage-btn-danger:focus, .adaptiveimage-btn-danger.focus { color: #fff; background-color: #c9302c; border-color: #761c19 }
.adaptiveimage-btn-danger:hover { color: #fff; background-color: #c9302c; border-color: #ac2925 }
.adaptiveimage-btn-danger:active, .adaptiveimage-btn-danger.active, .open > .dropdown-toggle.adaptiveimage-btn-danger { color: #fff; background-color: #c9302c; border-color: #ac2925 }
.adaptiveimage-btn-danger:active:hover, .adaptiveimage-btn-danger.active:hover, .open > .dropdown-toggle.adaptiveimage-btn-danger:hover, .adaptiveimage-btn-danger:active:focus, .adaptiveimage-btn-danger.active:focus, .open > .dropdown-toggle.adaptiveimage-btn-danger:focus, .adaptiveimage-btn-danger:active.focus, .adaptiveimage-btn-danger.active.focus, .open > .dropdown-toggle.adaptiveimage-btn-danger.focus { color: #fff; background-color: #ac2925; border-color: #761c19 }
.adaptiveimage-btn-danger:active, .adaptiveimage-btn-danger.active, .open > .dropdown-toggle.adaptiveimage-btn-danger { background-image: none }
.adaptiveimage-btn-danger.disabled:hover, .adaptiveimage-btn-danger[disabled]:hover, fieldset[disabled] .adaptiveimage-btn-danger:hover, .adaptiveimage-btn-danger.disabled:focus, .adaptiveimage-btn-danger[disabled]:focus, fieldset[disabled] .adaptiveimage-btn-danger:focus, .adaptiveimage-btn-danger.disabled.focus, .adaptiveimage-btn-danger[disabled].focus, fieldset[disabled] .adaptiveimage-btn-danger.focus { background-color: #d9534f; border-color: #d43f3a }
.adaptiveimage-btn-danger .badge { color: #d9534f; background-color: #fff }
.adaptiveimage-btn-link { color: #337ab7; font-weight: normal; border-radius: 0 }
.adaptiveimage-btn-link, .adaptiveimage-btn-link:active, .adaptiveimage-btn-link.active, .adaptiveimage-btn-link[disabled], fieldset[disabled] .adaptiveimage-btn-link { background-color: transparent; -webkit-box-shadow: none; box-shadow: none }
.adaptiveimage-btn-link, .adaptiveimage-btn-link:hover, .adaptiveimage-btn-link:focus, .adaptiveimage-btn-link:active { border-color: transparent }
.adaptiveimage-btn-link:hover, .adaptiveimage-btn-link:focus { color: #23527c; text-decoration: underline; background-color: transparent }
.adaptiveimage-btn-link[disabled]:hover, fieldset[disabled] .adaptiveimage-btn-link:hover, .adaptiveimage-btn-link[disabled]:focus, fieldset[disabled] .adaptiveimage-btn-link:focus { color: #777; text-decoration: none }
.adaptiveimage-btn-lg { padding: 10px 16px; font-size: 18px; line-height: 1.3333333; border-radius: 6px }
.adaptiveimage-btn-sm { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px }
.adaptiveimage-btn-xs { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px }
.adaptiveimage-btn-block { display: block; width: 100% }
.adaptiveimage-btn-block + .adaptiveimage-btn-block { margin-top: 5px }